<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trangchu.blt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.BLT">
        <activity
            android:name=".ThongKe"
            android:exported="false" />
        <activity
            android:name=".SuaThongTinTaiKhoan"
            android:exported="false" />
        <activity
            android:name=".Thongtintaikhoan"
            android:exported="false" />
        <activity
            android:name=".Game"
            android:exported="false" />
        <activity
            android:name=".SuaDuAn"
            android:exported="false" />
        <activity
            android:name=".SuaNhanVien"
            android:exported="false" />
        <activity
            android:name=".ChiTietNhanVien"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DoiMatKhau"
            android:exported="false" />
        <activity
            android:name=".DangKy"
            android:exported="false" />
        <activity
            android:name=".DanhSachPhong"
            android:exported="false" />
        <activity
            android:name=".DangNhap"
            android:exported="false" />
        <activity
            android:name=".ThongTinapp"
            android:exported="false" />
        <activity
            android:name=".ThemDuAn"
            android:exported="false" />
        <activity
            android:name=".ThemNhanVien"
            android:exported="false" />
        <activity
            android:name=".DanhSachNhanVien"
            android:exported="false" />
        <activity
            android:name=".ThemPhong"
            android:exported="false" />
        <activity
            android:name=".DanhSachDuAn"
            android:exported="false" />
        <activity
            android:name=".GioiThieu"
            android:exported="false" />
        <activity
            android:name=".TrangQuanLy"
            android:exported="false" />
        <activity
            android:name=".Load"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>